<nav class="navbar">
    <a class="logo" routerLink="/">Sport Hub</a>
    <div class="nav-links">
      <a routerLink="/facilities" routerLinkActive="active">Objekti</a>
  
      @if (!auth.isLoggedIn()) {
        <a routerLink="/login" routerLinkActive="active">Prijava</a>
        <a routerLink="/register" routerLinkActive="active" class="btn-nav">Registracija</a>
      }
  
      @if (auth.isLoggedIn()) {
        @if (auth.hasRole('athlete')) {
          <a routerLink="/athlete/profile" routerLinkActive="active">Profil</a>
          <a routerLink="/athlete/search" routerLinkActive="active">Rezerviši</a>
          <a routerLink="/athlete/shop" routerLinkActive="active">Prodavnica</a>
          <a routerLink="/athlete/ads" routerLinkActive="active">Saigrači</a>
          <a routerLink="/athlete/statistics" routerLinkActive="active">Statistika</a>
        }
        @if (auth.hasRole('employee')) {
          <a routerLink="/employee/profile" routerLinkActive="active">Profil</a>
          <a routerLink="/employee/reservations" routerLinkActive="active">Rezervacije</a>
          <a routerLink="/employee/calendar" routerLinkActive="active">Kalendar</a>
          <a routerLink="/employee/promotions" routerLinkActive="active">Promocije</a>
          <a routerLink="/employee/reports" routerLinkActive="active">Izveštaji</a>
        }
        @if (auth.hasRole('admin')) {
          <a routerLink="/admin/users" routerLinkActive="active">Korisnici</a>
          <a routerLink="/admin/facilities" routerLinkActive="active">Svi Objekti</a>
          <a routerLink="/admin/sports" routerLinkActive="active">Sportovi</a>
          <a routerLink="/admin/trainers" routerLinkActive="active">Treneri</a>
        }
        <span class="user-name">{{ auth.currentUser?.firstName }}</span>
        <button (click)="logout()" class="btn-logout">Izloguj se</button>
      }
    </div>
  </nav>